@tailwind base;
@tailwind components;
@tailwind utilities;

.border-star-wars::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: lightgray;
  border-radius: 3px;

  /* Settings */
  --border: 3px;
  --corner-depth: 30px;

  /* Nodes */
  --border-negative: calc(100% - var(--border));
  --top-left: 0% 0%;
  --top-left-innner: var(--border) var(--border);
  --top-right: 100% 0%;
  --top-right-inner: var(--border-negative) var(--border);
  --bottom-right: 100% 100%;
  --bottom-right-inner: var(--border-negative) var(--border-negative);
  --corner-start: var(--corner-depth) 100%;
  --corner-start-inner: calc(var(--corner-depth) + var(--border)/2) var(--border-negative);
  --corner-end: 0% calc(100% - var(--corner-depth));
  --corner-end-inner: var(--border) calc(100% - var(--border)/2 - var(--corner-depth));

  clip-path:
    polygon(
      evenodd,
      var(--top-left-innner),
      var(--top-right-inner),
      var(--bottom-right-inner),
      var(--corner-start-inner),
      var(--corner-end-inner),
      var(--top-left-innner),
      var(--top-left),
      var(--top-right),
      var(--bottom-right),
      var(--corner-start),
      var(--corner-end),
      var(--top-left)
    );
}
