@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: SFDistantGalaxy;
  src: url("./fonts/SFDistantGalaxy.ttf");
}

@font-face {
  font-family: SFDistantGalaxyOutline;
  src: url("./fonts/SFDistantGalaxyOutline.ttf");
}

@font-face {
  font-family: SFDistantGalaxySymbols;
  src: url("./fonts/SFDistantGalaxySymbols.ttf");
}
